h1
{
    color: #E6AF29;
}

li
{
    list-style-type: decimal;
}

#header
{
    background-color: black;
    height: 450px;
}

#header p
{
    color: #E6C729;
}

.roboto-slab-bold
{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.roboto-regular
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form-section
{
    margin: 20px 0;
}

.btn-grad
{
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.btn-grad:hover
{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}